@import '../../scss/utilities.scss';

.description-page {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0 rem(20px);

    &__title {
        text-align: center;
    }

    &__message {
        text-align: center;
    }

    &__poster-container {
        position: relative;
        width: 100%;
        min-height: 0;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__poster-wrapper {
        @extend %buttonreset;
        position: relative;

        &:hover, &:focus {

            &::before {
                position: absolute;
                left: 50%;
                top: 50%;
                z-index: 1;
                transform: translate(-50%, -50%);
                display: block;
                
                content: "Click to expand";
                font-size: 20px;
                text-align: center;
                color: #fff;
            }
            
            &::after {
                position: absolute;
                display: block;
                content: "";
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;

                background-color: rgb(0,0,0,0.5);
            }
        }
    }

    &__poster {
        position: relative;
        max-width: 100%;
        height: auto;

    }

    &__info {
        padding: 0 clamp(0rem, -14.344rem + 32.787vw, 25rem);
        margin-bottom: rem(40px);
    }

    &__plot {
        text-align: center;

        span {
            font-weight: 700;
        }
    }

    &__list {
        @extend %listreset;
    }

    &__list-item {

        margin: rem(10px) 0;

        span {
            font-weight: 700;
        }
    }
}